<!DOCTYPE html>
<html>
	<head>
		<title>STOCKS - @ViewBag.Title</title>
		<link rel="stylesheet" href="~/StyleSheet.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
	</head>
	<body>
		<div class="container">
			<div class="header">
				<i class="fa-solid fa-money-bill-trend-up"></i><span class="app-title">STOCKS</span>
			</div>
			@RenderBody()
		</div>
	</body>
</html>