<!DOCTYPE html>
<html>
	<head>
		<title>STOCKS - @ViewBag.Title</title>
		<link rel="stylesheet" href="~/StyleSheet.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</head>
	<body>
		<div class="container">
		<div class="header navbar">
			<i class="fa-solid fa-money-bill-trend-up"></i><span class="app-title">STOCKS</span>
			
				<ul>
					<a href="~/">Home</a>
				</ul>
				<ul>
					<a href="~/">Home1</a>
				</ul>
				<ul>
					<a href="~/">Home2</a>
				</ul>
			
		</div>
		<div class="container">
			<div class="page-content">
				@RenderBody()
			</div>
		</div>
	</body>
</html>