@model StockTradeViewModel
@{
	ViewBag.Title = Model.StockName;
	
}

<div class="box trading-panel">
	<h1 class="stock-title">@Model.StockName (<span id="stock-symbol">@Model.StockSymbol</span>)</h1>
	<h1>
		<span class="text-grey">$</span><span id="stock-price">@Model.Price</span>
	</h1>
</div>

@*	I recognise that this is an unsafe method of passing sensitive data but it is stipulated in the assignment brief.
	In practice I would AJAX for the data to be sent by the backend.*@
<input type="hidden" id="finnhub-api-key" value="@ViewBag.FinnHubAPIKey" />

<script src="~/Scripts/FinnhubWebsocketScript.js" />